body{

    background-color: #f2f2f2;
    font-family: Arial;
    text-align: center;
}

.container{

    margin-top: 50px;
}

.profile{

    width: 150px;
    border-radius: 40%;
}

h1{

    color: #333;
}

button{

    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}